@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
}

h1 {
    font-family: "Asul", sans-serif;
    font-size: 2em;
    line-height: 33px;
    font-weight: 400;
}

h2 {
    font-family: "Asul", sans-serif;
    font-size: 1.3em;
    line-height: 22px;
    font-weight: 700;
}

h3 {
    font-family: "Asul", sans-serif;
    font-size: 1.3em;
    line-height: 22px;
    font-weight: 400;
}

h4 {
    font-family: "Asul", sans-serif;
    font-size: 13px;
    line-height: 20px;
}

h5 {
    font-family: "Asul", sans-serif;
    font-size: 10px;
    line-height: 18px;
}
